@charset "UTF-8";

#vd107,
#provider,
#vd109,
#zadacha-lista,
#zmm,
#cards,
#vd311,
#storno-many-cards,
#storno-card,
#num-sf,
#vd309,
#vd343,
#vd344,
#vd325,
#cogi ,
#msc3n,
#class,
#vd261
{
  border-top: 80px solid transparent;
  margin-top: -80px;
  padding: 15px;
  /* паддинги - без проблем */
  background-clip: padding-box;
}

